<?xml version="1.0"?>
<launch>
  <arg name="map_path" default=""/> <!-- PROJECT REPOSITORY EDIT HERE! -->
  <arg name="sensor_model" default="aip_xx1"/> <!-- PROJECT REPOSITORY EDIT HERE! -->
  <arg name="vehicle_model" default="lexus"/> <!-- PROJECT REPOSITORY EDIT HERE! -->
  <arg name="rviz" default="true"/>

  <include file="$(find-pkg-share planning_simulator_launcher)/launch/scenario_launcher.launch" pass_all_args="true">
  </include>
</launch>
