<?xml version="1.0"?>
<launch>
  <!-- Parameters for Planning Simulator -->
  <arg name="map_path"/>
  <arg name="sensor_model"/>
  <arg name="vehicle_model"/>
  <arg name="rviz" default="true"/>
  <arg name="use_object_recognition" default="true"/>
  <arg name="initial_engage_state" />

  <!-- Simulation Clock -->
  <arg name="use_sim_time" default="false"/>

  <!-- Planning Simulator -->
  <include file="$(find-pkg-share autoware_launch)/launch/planning_simulator.launch">
    <!-- planning_simulator.launch's essential parameters -->
    <arg name="map_path" value="$(var map_path)"/>
    <arg name="sensor_model" value="$(var sensor_model)"/>
    <arg name="vehicle_model" value="$(var vehicle_model)"/>

    <!-- planning_simulator.launch's optional parameters -->
    <arg name="rviz" value="$(var rviz)"/>
    <arg name="rviz_args" value="-d $(find-pkg-share scenario_api)/rviz/planning_simulator.rviz"/>

    <!-- simple_planning_simulator.launch's optional parameters -->
    <arg name="initial_engage_state" value="false"/>

    <!-- dummy_perception_publisher.launch's optional parameters -->
    <arg name="perception/enable_detection_failure" value="false" />
    <arg name="perception/enable_object_recognition" value="$(var use_object_recognition)" />
    <arg name="sensing/visible_range" value="1000" />
  </include>

  <!-- Recording -->
  <node pkg="rosbag" exec="record" name="rosbag_recorder" output="screen" respawn="false" respawn_delay="0" args="record --lz4 -a -O $(var log_dir)/$(var scenario_id).bag"/>
</launch>
